:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
.navbar {
  margin-top: 10px;
  padding: 5px;
}

.nav-header {
  position: fixed;
  background-color: var(--mainGrey);
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-header li {
  margin: 20px;
  display: inline;
  border: 1px solid;
}

.nav-header li {
  margin-right: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  outline: 0;
  position: relative;
  top: -2px;
}
.nav-header li:hover {
  background: transparent;
  color: var(--primaryColor);
}

.section.spendings {
  background-color: #af9a7d;
}

.spendings {
  background: var(--darkGrey);
}
.search {
  height: 100vh;
  background-color: bisque;
}

.defaultHero {
  min-height: calc(100vh - 66px);
  background: var(--darkGrey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.banner h1 {
  font-size: 2.5rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

.services {
  padding: 5rem 0;
}

.services {
  background: var(--darkGrey);
  text-align: center;
}

.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 100px;
}

.services h6 {
  font-size: 50px;
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.services p {
  width: 80%;
  padding-top: 30px;
  padding-left: 70px;
  align-self: center;
}

.service-button {
  margin-top: 0;
  display: inline-block;
  text-decoration: none;
  color: var(--mainBlack);
  background: var(--primaryColor);
  /* padding: 0.4rem 0.9rem; */
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
